<%- include('header') %>
<div class="ibox float-e-margins">
    <div class="ibox-content text-center p-md">
            <h1 >
                Organization Users
            </h1>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="ibox float-e-margins">
                      
                        
                        <div class="ibox-content text-center p-md">
                            <h2 class="p-md npt title"><span class="text-navyf"></span><br></h2>
                            
                            <div class="col-md-6 text-left">
                                <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newUnitModal">New Catagorys</button> -->
                            </div>
                           
                            <table id="all_unit" class="table datatable table-striped">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <!-- <th>Created on</th> -->
                                        <th>Type</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% org_users.forEach(function(org_user){ %>

                                        <tr>
                                            <td><%= org_user.name %></td>
                                            <td><%= org_user.type %></td>
                                            <td>
                                                <% if(org_user.status == 1) { %>
                                                    pending
                                              <%  } else if (org_user.status == 2) {%> 
                                                    approved
                                              <% } %>
                                            
                                            </td>

                                            <td>
                                                <% if(org_user.status == 1) { %>
                                                    <button type="button" class="btn btn-primary" onclick="approve_org('<%= org_user._id %>')"> Approve</button>

                                              <%  } else if (org_user.status == 2) {%> 
                                                <button type="button" class="btn btn-danger" onclick="disapprove_org('<%= org_user._id %>')"> Disapprove</button>

                                              <% } %>
                                            </td>
                                        </tr>
                                        <% }) %>
    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
    


<!-- unit modals comes at here -->
<div class="modal fade" id="newUnitModal" tabindex="-1" role="dialog" aria-labelledby="newUnitModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newUnitModalLabel">Add New catagories</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="NewUnit" method="POST" action="/catagory">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="unit_name">Catagorys</label>
                                <input class="form-control txt_err unit_name" type="text" id="catagory_name" name="catagory_name">
                                <label class="lbl_err unit_name">Catagorys name is required</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="unit_status">Catagorys status</label>
                                <select class="form-control txt_err unit_status" name="catagory_status" id="catagory_status">
                                    <option value="active">Active</option>
                                    <option value="suspend">Suspended</option>
                                </select>
                                <label class="lbl_err unit_status">select status</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>




<div class="modal fade" id="editUnitModal" tabindex="-1" role="dialog" aria-labelledby="editUnitModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editUnitModalLabel">Update Unit Information</h5>
                <button type="button" onclick="closemode()" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST" action="/update_catagory">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="unit_name2">Unit name</label>
                                <input type="hidden" id="cat_id" name="cat_id">
                                <input class="form-control txt_err unit_name2" type="text" id="catagory_name1" name="catagory_name1">
                                <label class="lbl_err unit_name2">Unit name is required</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="unit_status2">Unit status</label>
                                <select class="form-control txt_err unit_status2" name="catagory_status1" id="catagory_status1">
                                    <option value="active">Active</option>
                                    <option value="suspend">Suspended</option>
                                </select>
                                <label class="lbl_err unit_status2">select status</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" onclick="closemode()" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<%- include('footer') %>
<script>
    function approve_org(id) {
      $.ajax({
             type: "POST",
             url: '/approve_org',
             data: {_id: id},
            
             success: function(data)
             {
               if(data === 'success'){
                console.log("succsdsdf11111");
     
               }else if(data === 'error'){
               }
                 
             }
           });
    }
function disapprove_org(id) {
  $.ajax({
             type: "POST",
             url: '/dis_approve_org',
             data: {_id: id},
            
             success: function(data)
             {
               if(data === 'success'){
                    console.log("succsdsdf2222");
               }else if(data === 'error'){

               }
                 
             }
           });
}
</script>




